---
- name: Build and Deploy Docker Image to Kubernetes
  hosts: localhost
  connection: local

  vars:
    image_name: my-country-service
    image_tag: v1
    dockerfile_path: "./"
    docker_registry_username: "khouloudchrif"
    docker_registry_password: "14282829@"
    kube_namespace: jenkins
    kubeconfig_path: "/home/khouloud/.kube/config"

  tasks:
    - name: Log in to Docker Hub
      community.general.docker_login:
        username: "{{ docker_registry_username }}"
        password: "{{ docker_registry_password }}"
        reauthorize: yes

    - name: Build Docker image
      community.docker.docker_image:
        build:
          path: "{{ dockerfile_path }}"
        name: "{{ docker_registry_username }}/{{ image_name }}"
        tag: "v10"
        source: build
        state: present

    - name: Push Docker image to Docker Hub
      community.docker.docker_image:
        name: "{{ docker_registry_username }}/{{ image_name }}"
        tag: "v10"
        push: yes
        source: local

    - name: Pull Docker image (verification)
      community.docker.docker_image:
        name: "{{ docker_registry_username }}/{{ image_name }}"
        tag: "v10"
        source: pull

    - name: Apply Kubernetes Deployment
      kubernetes.core.k8s:
        state: present
        namespace: "jenkins"
        src: deployment.yaml
        kubeconfig: "/home/khouloud/.kube/config"
        verify_ssl: no   # Ignore SSL pour Docker Desktop

    - name: Apply Kubernetes Service
      kubernetes.core.k8s:
        state: present
        namespace: "jenkins"
        src: service.yaml
        kubeconfig: "/home/khouloud/.kube/config"
        verify_ssl: no   # Ignore SSL pour Docker Desktop
